
// Spacing
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$spacing_sizes: ( auto: auto, 0: 0, 1: 0.5rem, 2: 1rem, 3: 2rem, 4: 4rem )

@each $k, $v in $spacing_sizes
  .m-#{$k}
    margin: #{$v}
  .mx-#{$k}
    margin-left: #{$v}
    margin-right: #{$v}
  .ml-#{$k}
    margin-left: #{$v}
  .mr-#{$k}
    margin-right: #{$v}
  .my-#{$k}
    margin-top: #{$v}
    margin-bottom: #{$v}
  .mt-#{$k}
    margin-top: #{$v}
  .mb-#{$k}
    margin-bottom: #{$v}
  .p-#{$k}
    padding: #{$v}
  .px-#{$k}
    padding-left: #{$v}
    padding-right: #{$v}
  .pl-#{$k}
    padding-left: #{$v}
  .pr-#{$k}
    padding-right: #{$v}
  .py-#{$k}
    padding-top: #{$v}
    padding-bottom: #{$v}
  .pt-#{$k}
    padding-top: #{$v}
  .pb-#{$k}
    padding-bottom: #{$v}
